@import url('https://fonts.cdnfonts.com/css/teleneo-office');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to right top, #e20074, #c0007a, #99007e, #6c007e, #36027a);
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

body,
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(10px) saturate(150%);
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container > * {
  margin: 10px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;

  font-family: 'TeleNeo Office', sans-serif;
  display: flex;
  align-items: center;
}


/* .container {
  backdrop-filter: blur(10px) saturate(150%);
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} */

header {
  display: flex;
  height: 100px;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

/* h1 {
  margin: 5%;
  width: 100%;

} */

.neon {
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 0 5px #c0007a,
  0 0 25px #c0007a,
  0 0 50px #c0007a,
  0 0 100px #c0007a;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: 1s;
}

#drop_zone {
  border: 2px dashed #bbb;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: auto;
  position: relative;
}

p {
  display: inline-block;
  position: relative;
}

p::after, p::before {
  content:'';
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: currentColor;
  top: 0.6em;
}

p::before {
  left: -140%;
}

p::after {
  right: -140%;
}

.slide-top {
  -webkit-animation: slide-top .5s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-top .5s cubic-bezier(.25, .46, .45, .94) both
}

#file_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#file_label {
  cursor: pointer;
}

ul {
  position: relative;
  width: 450px;
  margin: 100px auto 0;
  padding: 10px;
  box-sizing: border-box;
}

ul li {
  display: flex;
  background-color: #ff1c427c;
  padding: 10px 20px;
  color: #fff;
  margin: 5px 0;
  transition: .5s;
}

ul li:nth-child(odd) {
  background-color: #36027a;
}

ul li:nth-child(even) {
  background-color: #6c007e;
}




/* ----------------------------------------------
 * Generated by Animista on 2023-5-14 14:36:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
  }
}

/* Responsive */

@media screen and (max-width: 600px) {

  html,
  body {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  #drop_zone {
    width: 90%;
    height: 200px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {

  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #drop_zone {
    width: 80%;
    height: 300px;
    font-size: 16px;
  }
}